
<main class="pb-4">
<section class="section">
  <div class="container">
     <div class="row">
        <div class="col-md-12">
           <h1>{{ titl }}</h1>
           <h2>{{ subtitle }}</h2> 
        </div>
     </div>
  </div>
</section>
<section class="section section-detail">
   <div class="container">
      <div class="row">
         <div class="col-lg-6 col-sm-12">
            <div class="container-left">
                <app-left-section>hi</app-left-section>
                </div>
         </div>
         <div class="col-lg-6 col-sm-12">
            <div class="container-right">
               <app-right-section>huii</app-right-section>
               </div>
      </div>
   </div>
   </div>
</section>
<section class="section section-array-detail">
   <div class="container">
      <app-bottom-array>hii</app-bottom-array>
   </div>
</section>
</main>
